@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply text-neutral-dark-gray bg-white;
  }
}

@layer components {
  .container-custom {
    @apply w-full mx-auto px-4 sm:px-6 lg:px-8;
  }
}
